{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Welcome to Dashboard!

      To view available products, click on products
  </h1>
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->


<!-- quick email widget -->


</section>
<!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->


<!-- /.content -->
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <h1> Dashboard</h1>
            <p class="lead">
                Authentication
            </p>

            {% if not current_user.is_authenticated %}

                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a>

                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
